/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### NPM ###
/node_modules/

### JS ###
/src/main/webapp/js/**/*.js
/src/main/webapp/components/**/*.js
/src/main/webapp/lit-element/**/*.js

### Others ###
/temp/
